name: Buf Breaking
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  buf-lint:
    name: Buf Breaking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bufbuild/buf-setup-action@v1
        with:
          version: "v1.56.0"
      - run: "buf mod update"
      - uses: bufbuild/buf-breaking-action@v1
        with:
          against: "https://github.com/couchbase/protostellar.git#branch=master"
